@model List<SmartStock.BLL.ViewModels.ProductType.ProductViewModel>
@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col"></div>
        <div class="col-6">
            <span class="flex">
                <h1 class="align-l">Products &emsp; <a asp-action="Create" type="button" class="btn my-3 mb-3 btn-outline-light ">Create New</a></h1>
            </span>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Stock
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                <a title="Edit" asp-action="Edit" asp-route-id="@item.Id"><img src="~/edit-8-16.png" alt="Edit" /></a> &emsp;
                                <a title="Details" asp-action="Details" asp-route-id="@item.Id"><img src="~/info-3-16.png" alt="Details" /></a> &emsp;
                                <a title="Delete" asp-action="Delete" asp-route-id="@item.Id"><img src="~/x-mark-4-16.png" alt="Delete" /></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col"></div>
    </div>
</div>